<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars show</title>
</head>
<body>
<div align="center">
    <h1>Cars Record</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Color</th>
            <th>EngineCapacity</th>
            <th>Power</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="carEntity:${listCars}">

            <td th:text="${carEntity.id}"></td>
            <td th:text="${carEntity.model}"></td>
            <td th:text="${carEntity.color}"></td>
            <td th:text="${carEntity.engineCapacity}"></td>
            <td th:text="${carEntity.power}"></td>

        </tr>
        </tbody>
    </table>
    <div align="center">
        <a href="new">Add new Car</a>

    </div>

</div>
</body>
</html>
